@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	margin-left: 60px;
	margin-right: 60px;
}
section#splash {
	background-image: url("http://baptistadaniel.github.io/unit_4/images/home-office.jpeg");
	background-size: cover;
	height:90vh;
	padding: 5em 0 0 5em;
}
h1 {
	padding-left: 60px;
	padding-right: 100px;
	font-family: 'Montserrat', sans-serif;
	font-size: 100px;
	line-height: 1;
	color: #2a2b2f;
	display: block;
}

p {
	font-family: 'Montserrat', sans-serif;

}

#aboutme {
	padding-left: 60px;
	padding-right: 100px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24px;
	line-height: 40px;
	color: #9b9eab;
}
