body {
	text-align: center;
	background-image: url("http://baptistadaniel.github.io/unit_3/images/music_session.jpg");
	background-size: cover;
	color: #fff;
	font-family: Montserrat;
}

h1 {
	font-size: 36px;
	width: 600px;
}

p {
	font-size: 18px;
	width: 600px;
}

hr {
	width: 600px
}