body {
	text-align: center;
	background-image: url("https://github.com/baptistadaniel/baptistadaniel.github.io/blob/master/unit_3/images/music_session.jpg");
	background-size: cover;
	color: #fff;
	font-family: Montserrat;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 18px;
}

hr {
	width: 600px;
}